.header {
    display: flex;
    align-items: center;
    z-index: 100;
    position: sticky;
    background-color: #ededed;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.85);
}